*{
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', 'Roboto', sans-serif;
}

.container{
    margin: auto;
    width: 90%;
    padding-bottom: 20px;
}

.changeWeekButton{
    font-size: 30px;
    border: none;
    background-color: white;
}

.changeWeekButton:hover{
    cursor: pointer;
}

header{
    display: flex;
}

#displayWeekNumber{
    text-align: center;
    display: flex;
    margin: 20px;
}

#displayWeekNumber p{
    align-self: center;
}

#displayWeekNumber p{
    cursor: pointer;
}

.counter{
    margin: 0 20px 0 20px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    margin: 0 5px 0 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#month{
    align-self: center;
    margin: 0 0% 0 3%;
    padding: 0 30px 0 10px;
    font-size: 48px;
    border-bottom: #1a73e8 3px solid;
}

#calendar-grid{
    display: grid;
    grid-template-columns: 60px repeat(7, auto);
    grid-auto-rows: minmax(40px, auto);
}

.time-slot{
    border-bottom: black 1px solid;
    border-right: black 1px solid;
}

.first-row{
    border-bottom: black 1px solid;
    border-right: black 1px solid;

}

.weekdayName{
    font-size: 20px;
    text-align: center;
    position: sticky;
    top: 0px;
    border-bottom: solid black 1px;
    z-index: 3;
    background-color: white;
}

.currentDay{
    color: white;
    background-color: #1a73e8;
}

.time-divider{
    position: relative;
    bottom: -30px;
    padding: 0 8px 0 5px;
    text-align: right;
}

#overlay{
    z-index: 5;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 100vh;
    display: none;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn{
    0% {
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

svg{
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    fill: white;
    background-color: #1a73e8;
    border-radius: 45%;
    z-index: 3;
    box-shadow: 0 0 20px #1a73e8;
}

svg:hover{
    cursor: pointer;
    fill: red;
    animation: changeColor 1s forwards;
}

@keyframes changeColor {
    from {
        fill: white;
        background-color: #1a73e8;
    }
    to {
        fill: #1a73e8;
        background-color: white;
    }
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

#addEventForm{
    z-index: 10;
    position: fixed;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    padding: 20px 40px 40px 40px;
}

#addEventForm label{
    display: inline-block;
    
}

.eventFormLabel{
    display: inline-block;
}

.inputText{
    width: 80%;
    display: block;
    border: none;
    border-bottom: 1px solid rgb(75, 72, 72);
    font-size: 24px;
    margin-bottom: 20px;
}

#eventID{
    display: none;
}

#startTime{
}

#eventDate{
    border: none;
}

#editEventDate{
    border:none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    display: inline-block;
    border: none;
    border-bottom: 1px solid rgb(75, 72, 72);
    font-size: 16px;
}

option{
    font-family: 'Oswald', 'Roboto', sans-serif;
}

select:hover{
    cursor:pointer;
}

#submitEvent{
    background-color: lightgreen;
    border: none;
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px;
    text-transform: uppercase;
}

#submitEvent:hover{
    cursor: pointer;
}

.filled-slot{
    background-color: red;
    z-index: 2;
    border-top: none;
    border-bottom: none;
    padding: 5px 0 0 5px;
}

#editForm{

    z-index: 8;
    position: fixed;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100vh);
    background-color: white;
    width: 300px;
    padding: 20px 40px 40px 40px;
    
}

@keyframes fallIn{
    0% {
        transform: translate(-50%, -100vh)
    }
    80%{
        transform: translate(-50%, -20%)
    }
    100%{
        transform: translate(-50%, -50%)
    }
}

.greenButton{
    background-color: lightgreen;
    border: none;
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px;
    text-transform: uppercase;
}

.greenButton:hover{
    cursor: pointer;
}

.redButton{
    background-color: red;
    border: none;
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px;
    text-transform: uppercase;
}

.redButton:hover{
    cursor: pointer;
}